# Dependencies
/node_modules

# Build artifacts
/dist

# Env files
.env
.env.*
!.env.example

# Astro
.astro

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE settings
.vscode
.idea

# Cursor chat
/cursorchat
