---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import WhatIsGemma from '../components/WhatIsGemma.astro';
import Benchmarks from '../components/Benchmarks.astro';
import Resources from '../components/Resources.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout title="Gemma-3n.net: The Ultimate Developer Guide & Tutorials">
	<main>
		<HeroSection />
		<WhatIsGemma />
		<Benchmarks />
		<Resources />
		<FAQ />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style> 