---
import { useTranslations, getLangFromUrl } from '../i18n';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const useCases = [
  {
    name: t('about.usecases.case1.title'),
    description: t('about.usecases.case1.desc'),
  },
  {
    name: t('about.usecases.case2.title'),
    description: t('about.usecases.case2.desc'),
  },
  {
    name: t('about.usecases.case3.title'),
    description: t('about.usecases.case3.desc'),
  },
  {
    name: t('about.usecases.case4.title'),
    description: t('about.usecases.case4.desc'),
  },
]
---
<div id="use-cases" class="bg-slate-100 dark:bg-gray-800 py-24 sm:py-32 scroll-mt-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-indigo-400">Real-World Applications</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">{t('about.usecases.title')}</p>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{t('about.usecases.p1')}</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
          {useCases.map((useCase) => (
            <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900 dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 flex-none text-indigo-600 dark:text-indigo-400">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
                    </svg>
                    {useCase.name}
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600 dark:text-gray-300">
                    <p class="flex-auto">{useCase.description}</p>
                </dd>
            </div>
          ))}
        </dl>
      </div>
    </div>
</div> 