---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
  description?: string;
}

const { 
  title, 
  description = "The ultimate developer guide and tutorials for Google's Gemma 3n. Master on-device multimodal AI with in-depth analysis, benchmarks, and code examples." 
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <script is:inline>
      // This script is inlined in the head to prevent FOUC.
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
	</head>
	<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200">
    <Header />
		<slot />
    <Footer />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style> 